.linkButtonsWrapper {
    /* background-color: teal; */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    z-index: 500;
}

/* Style for the contact buttons */
.contact-buttons {
    display: flex;
    padding-right: 50px;
    flex-direction: row; /* Arrange icons horizontally */
}

/* Style for the email button */
.email-button,
.phone-button,
.facebook-button {
    text-decoration: none;
    
    margin-right: 10px; /* Adjust spacing between icons */
    font-size: 40px; /* Adjust the size of the icons */
    margin: right 15px;
}
.email-button{
    margin-right: 25px;
    color: #f76767; 
    margin-left: 15px;
}
.facebook-button {
    color:rgb(79, 97, 253);
}
.phone-button{
    color: #23f123;
    margin-left: 15px;
}
