.linkButtonsWrapper {
    /* background-color: teal; */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    z-index: 500;
}

/* Style for the contact buttons */
.contact-buttons {
    display: flex;
    padding-right: 50px;
    flex-direction: row; /* Arrange icons horizontally */
}

/* Style for the email button */
.email-button,
.phone-button,
.facebook-button {
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between icons */
    font-size: 55px; /* Adjust the size of the icons */
    margin: right 15px;
    transition: transform 0.3s;
}

.email-button {
    margin-right: 25px;
    color: #f76767;
    margin-left: 15px;
    transition: transform 0.3s;
}

.facebook-button {
    color: rgb(79, 97, 253);
}

.phone-button {
    color: #23f123;
    margin-left: 15px;
}

.email-button:hover,
.facebook-button:hover,
.phone-button:hover {
    transform: scale(1.2);
    filter: saturate(2); /* Adjust saturation level (1.5 for more saturation) */
    transition: transform 0.5s, filter 0.5s; /* Adjust transition duration */
}
