/* Base styles for .content-manager */
.content-manager {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 1;
  border-left: 1px rgb(80, 80, 80) solid;
  color: white;
}

/* Padding for .scrollable-content */
.scrollable-content {
  padding: 20px;
}

/* Styles for .content */
.content {
  margin: 15px;
  padding: 10px;
}

/* Styles for .sections-wrapper */
.sections-wrapper {
  margin-right: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(75, 75, 75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  width: 90%;
  margin: 15px 0 0 25px; /* Adjusted margin for better readability */
  padding: 12px;
  border-radius: 15px;
  -webkit-font-smoothing: antialiased;
}

/* Title color styles */
.red-title {
  color: rgb(49, 83, 235);
}

.blue-title {
  color: rgb(58, 54, 54);
}

/* Shared styles for buttons */
.button-wrapper button,
.content-manager .content-manager button {
  color: rgb(44, 44, 44);
  background: white;
  border: 2px solid gray; /* Add border to the buttons */
  border-radius: 20px; /* Add rounded corners */
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin: 5px;
  padding: 5px 15px; /* Add padding to the buttons */
  transition: background 0.3s, color 0.3s; /* Add smooth transitions */
  user-select: none;
}

/* Active button styles */
.button-wrapper button.active,
.content-manager .content-manager button.active {
  background: gray; /* Change background color for active button */
  color: white; /* Change text color for active button */
}

/* Hover effect for buttons */
.button-wrapper button:hover,
.content-manager .content-manager button:hover {
  background: #2655d8; /* Change background color on hover */
  color: white; /* Change text color on hover */
}


.flag-button {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s;
  margin: 0 auto;
  display: block;
}

.flag-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.flag-image.swedish {
  background: url('../../assets/swe-flag.png') no-repeat center center;
  background-size: cover;
  transform: translateY(0%);
}

.flag-image.english {
  background: url('../../assets/uk-flag.png') no-repeat center center;
  background-size: cover;
  transform: translateY(0%);
}

.flag-button:hover .flag-image.english {
  transform:scale(150%);
  
}

.flag-button:hover .flag-image.swedish {
  transform:scale(150%);
  
}

.flag-container{
  float: right;

}

