.content-manager {
  width: 50%;
  /* Adjust the width as needed */
  height: 100vh;
  /* background-color: black; */
  color: white;
  /* Set the text color to white */
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 1;
  /* Enable vertical scrolling if content overflows */
}

.scrollable-content {
  padding: 20px;
  /* Add padding to the content area */
}

.content {
  /* background-color: red; */
  margin: 15px;
  padding: 10px;
}

.sections-wrapper {
  margin-right: 50px;
  /* Adjust the margin as needed */
  background-color: rgb(255, 255, 255);
  color: rgb(75, 75, 75);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Zilla Slab'; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  width: 90%;
  margin: 15px;
  margin-left: 25px;

  -webkit-font-smoothing: antialiased;


  padding: 12px;
  border-radius: 15px;

}

.red-title {
  /* color: rgb(216, 74, 74); */
  color: rgb(46, 85, 168);
}
.blue-title{
  color:rgb(58, 54, 54);
}

/* Style for the buttons in .content-manager */
.content-manager .content-manager button {
  color: black; /* Set the text color to black */
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  cursor: pointer; /* Add pointer cursor for hover effect */
  font-size: 16px; /* Set the font size as desired */
  text-decoration: none; /* Remove default text underline */
  margin: 5px; /* Add some margin between buttons */
  transition: color 0.3s, border-bottom 0.3s; /* Add smooth transition for color change and underline */
}

/* Style for the active button in .content-manager */
.content-manager .content-manager button.active {
  border-bottom: 2px solid red; /* Add red underline for active button */
  transition: color 0.3s, border-bottom 0.3s; /* Add smooth transition for color change and underline */
}

/* Hover effect in .content-manager */
.content-manager .content-manager button:hover {
  color: red; /* Change text color to red on hover */
  transition: color 0.3s; /* Add smooth transition for color change */
}

.button-wrapper button {
  color: black; /* Set the text color to black */
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  cursor: pointer; /* Add pointer cursor for hover effect */
  font-size: 16px; /* Set the font size as desired */
  text-decoration: none; /* Remove default text underline */
  margin: 5px; /* Add some margin between buttons */
  transition: color 0.3s, border-bottom 0.3s; /* Add smooth transition for color change and underline */
}

/* Style for the active button in .button-wrapper */
.button-wrapper button.active {
  border-bottom: 2px solid red; /* Add red underline for active button */
  transition: color 0.3s, border-bottom 0.3s; /* Add smooth transition for color change and underline */
}

/* Hover effect in .button-wrapper */
.button-wrapper button:hover {
  color: red; /* Change text color to red on hover */
  transition: color 0.3s; /* Add smooth transition for color change */
}

.button-wrapper{
  user-select: none;
  
}